######################################################
# Location Name: PACL-616
# Auditorium:    OLC_IAB_11-1
# Created  on:   2019-05-29 20:45:38
# Last Modified: 2019-05-29 20:45:38
# Created by Configurator version dc67654de6
######################################################
# This is a configuration file for
# the Reference Renderer included
# with MDACreator/MDAPlayer v. 0.9.0.0 and higher.
# Parameters are separated by space characters.
######################################################

v 3

# Renderer flags:
# c   flag-name   value

k   rpversion   2.2
k   authtoolversion   dc67654de6
k   authtool   tag:dts.com,2016:mda:authtool:olc
c   smooth   1


# Declaration of contained soundfield:
# e   soundfield-uri

e   http://dts.com/mda/soundfield#111HT


# Speaker definitions:
# s   name   chan   theta   phi   exception-uri

s   L        0   -30.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020101.00000000
s   C        1     0.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020103.00000000
s   R        2    30.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020102.00000000
s   LS       3  -110.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020105.00000000
s   RS       4   110.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020106.00000000
s   LFE      5     0.00    0.00   urn:smpte:ul:060E2B34.0401010D.03020104.00000000
s   CH       6     0.00   23.89   http://dts.com/mda/channels#CH
s   LH       7   -30.00   20.99   http://dts.com/mda/channels#LH
s   LSH      8  -110.00   30.00   http://dts.com/mda/channels#LHS
s   RH       9    30.00   20.99   http://dts.com/mda/channels#RH
s   RSH     10   110.00   30.00   http://dts.com/mda/channels#RHS
s   TS      11     0.00   90.00   http://dts.com/mda/channels#TS
s   LRSH1   12  -150.00   20.99
s   LRSH2   13  -169.11   23.51
s   LRS1    14  -150.00    0.00
s   LRS2    15  -169.11    0.00
s   LSSH1   16   -45.00   22.21
s   LSSH2   17   -71.57   28.71
s   LSSH3   18  -108.43   28.71
s   LSSH4   19  -135.00   22.21
s   LSS1    20   -45.00    0.00
s   LSS2    21   -71.57    0.00
s   LSS3    22  -108.43    0.00
s   LSS4    23  -135.00    0.00
s   RRSH1   24   150.00   20.99
s   RRSH2   25   169.11   23.51
s   RRS1    26   150.00    0.00
s   RRS2    27   169.11    0.00
s   RSSH1   28    45.00   22.21
s   RSSH2   29    71.57   28.71
s   RSSH3   30   108.43   28.71
s   RSSH4   31   135.00   22.21
s   RSS1    32    45.00    0.00
s   RSS2    33    71.57    0.00
s   RSS3    34   108.43    0.00
s   RSS4    35   135.00    0.00
s   TSC1    36     0.00   38.66
s   TSC2    37     0.00   67.38
s   TSC3    38  -180.00   67.38
s   TSC4    39  -180.00   38.66


# LFE speaker assignment:
# w   name

w   LFE


# Map definitions:
# m   name   (speaker-name   downmix-coefficient)+

# (This configuration does not contain maps.)



# Patch definitions:
# (Note: quads are no longer supported - use explicit overlapping triangles instead.)
# p   speaker1-name   speaker2-name   speaker3-name

# Triangle patches automatically generated: 61

p   C      L      LH  
p   C      R      RH  
p   C      CH     RH  
p   C      CH     LH  
p   RSSH3   RSSH4   RSS3
p   RSSH3   RSSH4   TSC3
p   RSSH3   RSSH2   RSS2
p   RSSH3   RSSH2   RSS3
p   RSSH3   RSSH2   TSC3
p   RSSH3   RSSH2   TSC2
p   RSSH3   RSS2   RSS3
p   RSSH3   TSC3   TSC2
p   RSSH4   RRSH1   RSS4
p   RSSH4   RRSH1   TSC4
p   RSSH4   RSS4   RSS3
p   RSSH4   TSC3   TSC4
p   L      LSS1   LH  
p   RSSH1   RSSH2   RSS2
p   RSSH1   RSSH2   TSC2
p   RSSH1   RSS1   RSS2
p   RSSH1   RSS1   RH  
p   RSSH1   TSC2   TSC1
p   RSSH1   TSC1   RH  
p   LRSH1   LSSH4   LSS4
p   LRSH1   LSSH4   TSC4
p   LRSH1   LRSH2   LRS2
p   LRSH1   LRSH2   TSC4
p   LRSH1   LRS2   LRS1
p   LRSH1   LRS1   LSS4
p   RRSH2   RRSH1   RRS2
p   RRSH2   RRSH1   TSC4
p   RRSH2   LRSH2   RRS2
p   RRSH2   LRSH2   LRS2
p   RRSH2   LRSH2   TSC4
p   RRSH2   RRS2   LRS2
p   RSSH2   RSS2   RSS3
p   RSSH2   TSC3   TSC2
p   RRSH1   RRS1   RRS2
p   RRSH1   RRS1   RSS4
p   LSSH4   LSSH3   LSS3
p   LSSH4   LSSH3   TSC3
p   LSSH4   LSS3   LSS4
p   LSSH4   TSC3   TSC4
p   LSSH3   LSSH2   LSS3
p   LSSH3   LSSH2   LSS2
p   LSSH3   LSSH2   TSC3
p   LSSH3   LSSH2   TSC2
p   LSSH3   LSS3   LSS2
p   LSSH3   TSC3   TSC2
p   R      RSS1   RH  
p   LSSH2   LSSH1   LSS2
p   LSSH2   LSSH1   TSC2
p   LSSH2   LSS3   LSS2
p   LSSH2   TSC3   TSC2
p   LSSH1   LSS2   LSS1
p   LSSH1   LSS1   LH  
p   LSSH1   TSC2   TSC1
p   LSSH1   TSC1   LH  
p   LRSH2   RRS2   LRS2
p   CH     TSC1   RH  
p   CH     TSC1   LH  
